################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VB-calculator/FileContentIndex/507e5178-59a0-4227-a2a4-c07758f5407d.vsidx
/.vs/VB-calculator/FileContentIndex/18407e3a-62b2-4cd6-92f5-46ad8b0b41d6.vsidx
/.vs/VB-calculator/FileContentIndex/8db4e297-1596-4240-ba12-4cf3315ae9f9.vsidx
/.vs/VB-calculator/FileContentIndex/dc22ccac-078f-4808-9750-46e979a4222b.vsidx
/.vs/VB-calculator/FileContentIndex/bb3747c6-76b2-4ffd-997c-bc19cdee6faf.vsidx
/.vs/VB-calculator/v17/.wsuo
/.vs/VB-calculator/FileContentIndex
